* {
    font-family: "Ubuntu", "Verdana", "Times New Roman", serif;
    font-size: 20px;
    box-sizing:border-box;
}

html {
    background-color: lightblue;
}

.pageheader {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color:white;    
    font-size:50px;
    margin: 50px;
    padding: 5px;
    width: 400px;
    border: 7px solid lightcoral;
}

.flexing {
    display: flex;
    flex: 1;
}

.homeimage {
    display: inline-block;
    width: 400px;
    height: auto;
    flex: 1;
}


a {
    color: royalblue;
    font-weight: 700;
}

.list {
    display:inline-block;
    margin: 50px;
    border-left: 7px solid lightcoral;
    padding: 12px;
    flex: 1;
}

.recipeimage {
    display: block;
    margin: 5px auto;
    width: 575px;
    height: auto;
    padding-bottom: 6px;
}

.section {
    border-bottom: 6px solid lightcoral;
}








